NODE_ENV=development
PORT=3001
LOG_LEVEL=log
WEB_PORT=3000
EXPO_DEV_PORT=8081
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/exetron?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5433/exetron?schema=public
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=replace-me-access
JWT_REFRESH_SECRET=replace-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET=exetron
NEXT_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_API_URL=http://localhost:3001
PLATFORM_ADMIN_EMAIL=admin@exetron.local
PLATFORM_ADMIN_PASSWORD=ChangeMe123!
